1?/*/Uninstall.exe
1?/*/bin/
1?/*/include/
1?/*/lib/
1?/*/share/
shine/
QF/
pct/
manual/
*.sif
B?
Mordred*
hello
doppler
*DS_Store
*.heprep
*.wrl
*.png
*.jpg
*.jpeg
*.mp4
*.mov
*.mpeg
*.gif
_site
.jekyll*
*.log
*.err
*.out
*.gz
*.bz2
*.root
*.pyc
*checkpoints*
.Trash*
*test*
# Large generated analysis files
volume4_gamma_Compton_Q_actual_fixed30.csv
vlm4_gamma_entry_events.csv
